div.main{
    height: 600px;
    width: 1200px;
    margin: 20px auto;
    background: url(../image/bg.jpg) center no-repeat;
    text-align: center;
    
}

div.main div.info{
    position: relative;
    top: 350px;
    margin: 0px auto;
    height: 300px;
}

div.main div.info button{
    background-color: aqua;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 25px;
    font-weight: 15px;
}

div.main div.info input[name]{
    background-color: aqua;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 25px;
    font-weight: 15px;
}

div.main button{
    background-color: aqua;
    margin-top: 30px;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 35px;
    font-weight: bold;
}